{% extends 'base.html' %}

{% block content %}

<h1>
    {% if sport %}
        Edit Sport
    {% else %}
        Add Sport
    {% endif %}
</h1>

<form method="POST">

    <input type="text"
           name="name"
           class="form-control mb-3"
           placeholder="Sport Name"
           value="{{ sport.name if sport else '' }}"
           required>

    <textarea name="description"
              class="form-control mb-3"
              placeholder="Description">{{ sport.description if sport else '' }}</textarea>

    <textarea name="rules"
              class="form-control mb-3"
              placeholder="Rules">{{ sport.rules if sport else '' }}</textarea>

    <input type="number"
           name="fee"
           class="form-control mb-3"
           placeholder="Fee"
           value="{{ sport.fee if sport else '' }}"
           required>

    <input type="number"
           name="max_players"
           class="form-control mb-3"
           placeholder="Max Players"
           value="{{ sport.max_players if sport else '' }}"
           required>

    <input type="text"
           name="venue"
           class="form-control mb-3"
           placeholder="Venue"
           value="{{ sport.venue if sport else '' }}">

    <input type="date"
           name="event_date"
           class="form-control mb-3"
           value="{{ sport.event_date if sport else '' }}">

    <button class="btn btn-success">
        Save Sport
    </button>

</form>

{% endblock %}